#titleAreaSoda740, #titleAreaSoda800, #titleAreaSoda820, #titleAreaSoda8210 {
    background-color: rgb(193, 232, 248);
}

#optionArea740, #optionArea800, #optionArea820, #optionArea8210 {
    margin: 20px;
}

#qrCodeArea740, #qrCodeArea800, #qrCodeArea820, #qrCodeArea8210 {
    display: flex;
}

#bodyOneDepthShowQrCode, #skinOneDepthShowQrCode, #skinTwoDepthShowQrCode,#skinToneOneDepthShowQrCode, #middleFaceOneDepthShowQrCode, #middleFaceTwoDepthShowQrCode, #reshapeOneDepthShowQrCode, #reshapeTwoDepthShowQrCode {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#manualSkinOneDepthShowQrCode, #manualSkinTwoDepthShowQrCode, #autoSkinOneDepthShowQrCode, #autoSkinTwoDepthShowQrCode {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#aiFaceOneDepthShowQrCode, #aiFaceCategoryIdShowQrCode, #aiFaceContentIdShowQrCode, #aiFaceCombineContentCategoryIdShowQrCode {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#faceRatioOneDepthShowQrCode, #faceRatioTwoDepthShowQrCode, #bgExtensionOneDepthShowQrCode, #bgExtensionTwoDepthShowQrCode, #newUserPageShowQrCode {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#styleFilterShowQrCode, #cameraTabShowQrCode, #beautyShowQrCode, #makeupShowQrCode, #subscriptionPageShowQrCode, #homeCategoryShowQrCode, #homeIdAddShowQrcode, #homeIdShowQrCode, #homeOpenPageShowQrCode, #studioContentsIdShowQrCode {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.qrcodeStyle, .resetStyle, .qrDownloadStyle {
  color: black;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}

#bodyOneDepthschemeCopy,#skinOneDepthSchemeCopy, #skinTwoDepthSchemeCopy, #skinToneOneDepthSchemeCopy, #middleFaceOneDepthSchemeCopy, #middleFaceTwoDepthSchemeCopy, #reshapeOneDepthSchemeCopy, #reshapeTwoDepthSchemeCopy {
    margin: 10px;
    font-size: 20px;
}

#manualSkinOneDepthSchemeCopy, #manualSkinTwoDepthSchemeCopy, #autoSkinOneDepthSchemeCopy, #autoSkinTwoDepthSchemeCopy {
    margin: 10px;
    font-size: 20px;
}

#aiFaceOneDepthSchemeCopy, #aiFaceCategoryIdSchemeCopy, #aiFaceContentIdSchemeCopy, #aiFaceCombineContentCategoryIdSchemeCopy {
    margin: 10px;
    font-size: 20px;
}

#faceRatioOneDepthSchemeCopy, #faceRatioTwoDepthSchemeCopy, #bgExtensionOneDepthSchemeCopy, #bgExtensionTwoDepthSchemeCopy, #newUserPageSchemeCopy {
    margin: 10px;
    font-size: 20px;
}

#styleFilterSchemeCopy, #cameraTabSchemeCopy, #beautySchemeCopy, #makeupSchemeCopy, #subscriptionPageSchemeCopy, #homeCategorySchemeCopy, #homeIdSchemeCopy, #homeOpenPageSchemeCopy, #studioContentsIdSchemeCopy, #studioContentsMultiIdSchemeCopy {
    margin: 10px;
    font-size: 20px;
}

#bodyOneDepthAddQrcode, #skinOneDepthAddQrcode, #skinTwoDepthAddQrcode, #skinToneOneDepthAddQrcode, #middleFaceOneDepthAddQrcode, #middleFaceTwoDepthAddQrcode, #reshapeOneDepthAddQrcode, #reshapeTwoDepthAddQrcode {
    margin: 10px;
    font-size: 30px;
}

#manualSkinOneDepthAddQrcode, #manualSkinTwoDepthAddQrcode, #autoSkinOneDepthAddQrcode, #autoSkinOneDepthAddQrcode {
    margin: 10px;
    font-size: 30px;
}

#aiFaceOneDepthAddQrcode, #aiFaceCategoryIdAddQrcode, #aiFaceContentIdAddQrcode, #aiFaceCombineContentCategoryIdAddQrcode {
    margin: 10px;
    font-size: 30px;
}

#faceRatioOneDepthAddQrcode, #faceRatioTwoDepthAddQrcode, #bgExtensionOneDepthAddQrcode, #bgExtensionTwoDepthAddQrcode, #newUserPageAddQrcode {
    margin: 10px;
    font-size: 30px;
}

#styleFilterAddQrcode, #styleFilterReset, #cameraTabAddQrcode, #cameraTabReset, #beautyAddQrcode, #beautyReset, #makeupAddQrcode, #makeupReset, #subscriptionPageAddQrcode, #subscriptionPageReset, #homeCategoryAddQrcode, #homeCategoryReset, #homeIdAddQrcode, #homeIdReset, #homeOpenPageAddQrcode, #homeOpenPageReset, #studioContentsIdAddQrcode, #studioContentsIdReset, #studioContentsMultiIdAddQrcode, #styleFilterAddQrcode, #styleFilterReset, #cameraTabAddQrcode, #cameraTabReset, #beautyAddQrcode, #beautyReset, #makeupAddQrcode, #makeupReset, #subscriptionPageAddQrcode, #subscriptionPageReset, #homeCategoryAddQrcode, #homeCategoryReset, #homeIdAddQrcode, #homeIdReset, #homeOpenPageAddQrcode, #homeOpenPageReset, #studioContentsIdAddQrcode, #studioContentsIdReset, #studioContentsMultiIdAddQrcode, #studioContentsMultiIdReset {
    margin: 10px;
    font-size: 30px;
                                                                                                                                                                                                                                                                                                                                                                                                                  }
#bodyOneDepthReset, #skinOneDepthReset, #skinTwoDepthReset, #skinToneOneDepthReset, #middleFaceOneDepthReset, #middleFaceTwoDepthReset, #reshapeOneDepthReset, #reshapeTwoDepthReset {
    margin: 10px;
    font-size: 30px;
}

#manualSkinOneDepthReset, #manualSkinTwoDepthReset, #autoSkinOneDepthReset, #autoSkinTwoDepthReset {
    margin: 10px;
    font-size: 30px;
}

#aiFaceOneDepthReset, #aiFaceCategoryIdReset, #aiFaceContentIdReset, #aiFaceCombineContentCategoryIdReset {
    margin: 10px;
    font-size: 30px;
}

#faceRatioOneDepthReset, #faceRatioTwoDepthReset, #bgExtensionOneDepthReset, #bgExtensionTwoDepthReset, #newUserPageReset {
    margin: 10px;
    font-size: 30px;
}

#bodyOneDepthDownloadQrBtn, #skinOneDepthDownloadQrBtn, #skinTwoDepthDownloadQrBtn, #skinToneOneDepthDownloadQrBtn, #middleFaceOneDepthDownloadQrBtn, #middleFaceTwoDepthDownloadQrBtn, #reshapeOneDepthDownloadQrBtn, #reshapeTwoDepthDownloadQrBtn {
    margin: 10px;
    font-size: 30px;
}

#manualSkinOneDepthDownloadQrBtn, #manualSkinTwoDepthDownloadQrBtn, #autoSkinOneDepthDownloadQrBtn, #autoSkinTwoDepthDownloadQrBtn {
    margin: 10px;
    font-size: 30px;
}

#aiFaceOneDepthDownloadQrBtn, #aiFaceCategoryIdDownloadQrBtn, #aiFaceContentIdDownloadQrBtn, #aiFaceCombineContentCategoryIdDownloadQrBtn {
    margin: 10px;
    font-size: 30px;
}

#faceRatioOneDepthDownloadQrBtn, #faceRatioTwoDepthDownloadQrBtn, #bgExtensionOneDepthDownloadQrBtn, #bgExtensionTwoDepthDownloadQrBtn, #newUserPageDownloadQrBtn {
    margin: 10px;
    font-size: 30px;
}

#styleFilterDownloadQrBtn, #cameraTabDownloadQrBtn, #beautyDownloadQrBtn, #makeupDownloadQrBtn, #subscriptionPageDownloadQrBtn, #homeCategoryDownloadQrBtn, #homeIdDownloadQrBtn, #homeOpenPageDownloadQrBtn, #studioContentsIdDownloadQrBtn, #studioContentsMultiIdDownloadQrBtn {
    margin: 10px;
    font-size: 30px;
}

#subArea820 {
    margin: 10px;
    margin-bottom: 100px;
    font-size: 30px;
}